+b.service.section
  +e.inner.inner
    +e.H2.title.title Какие услуги мы предлагаем?
    +e.row
      +e.box
        +e.P.caption Терапия
        +e.list
          ul
            li Лечение кариеса
            li Светоотверждаемые пломба
            li Эстетическая реставрация
            li Лечение пульпита, периодонтита
            li Снятие амальгамной пломбы
        +e.info
          +e.P.price  От 5 000 руб.
          +e.A.more(href="#")
            span ЕЩЕ УСЛУГИ
            svg(width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M5 12h14M12 5l7 7-7 7' stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
      +e.box
        +e.P.caption Гигиена
        +e.list
          ul
            li Комплексная профессональная гигиена
            li Отбеливание «ZOOM» 4
            li Изготовление капп
        +e.info
          +e.P.price  От 5 000 руб.
          +e.A.more(href="#")
            span ЕЩЕ УСЛУГИ
            svg(width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M5 12h14M12 5l7 7-7 7' stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
      +e.box
        +e.P.caption Ортопедия
        +e.list
          ul
            li Изготовление протезов
            li Изготовление керамической коронки
            li Изготовление цельноциркониевой коронки
            li Изготовление накладок
        +e.info
          +e.P.price  От 5 000 руб.
          +e.A.more(href="#")
            span ЕЩЕ УСЛУГИ
            svg(width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M5 12h14M12 5l7 7-7 7' stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
      +e.box
        +e.P.caption Ортодонтия
        +e.list
          ul
            li Лечение на элайнерах
            li Лечение на брекет-системе
            li Лечение на трейнере Myobrace
            li Изготовление суставной шины
            li Аппаратное лечение
        +e.info
          +e.P.price  От 5 000 руб.
          +e.A.more(href="#")
            span ЕЩЕ УСЛУГИ
            svg(width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M5 12h14M12 5l7 7-7 7' stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
      +e.box
        +e.P.caption Хирургия
        +e.list
          ul
            li Удаление ретенированного, сверхкомплектного зуба
            li Удаление зуба мудрости
            li Хирургическое лечение лазером
        +e.info
          +e.P.price  От 5 000 руб.
          +e.A.more(href="#")
            span ЕЩЕ УСЛУГИ
            svg(width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M5 12h14M12 5l7 7-7 7' stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
      +e.box
        +e.P.caption Имплантация
        +e.list
          ul
            li Установка имплантов
            li «Bredent», «AWI»
            li Операции синус – лифтинга
            li Наращивание костной ткани
            li Имплантация all-оn-4 и all-оn-6
        +e.info
          +e.P.price  От 5 000 руб.
          +e.A.more(href="#")
            span ЕЩЕ УСЛУГИ
            svg(width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M5 12h14M12 5l7 7-7 7' stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
      +e.box
        +e.P.caption Стоматология под наркозом
        +e.list
          ul
            li Имплантация под наркозом
            li Лечение зубов под наркозом
            li Удаление зуба мудрости под наркозом
        +e.info
          +e.P.price  От 5 000 руб.
          +e.A.more(href="#")
            span ЕЩЕ УСЛУГИ
            svg(width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M5 12h14M12 5l7 7-7 7' stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
      +e.box
        +e.P.caption Стоматология под седацией
        +e.list
          ul
            li Протезирование во сне
            li Удаление зубов во сне
            li Имплантация во сне
        +e.info
          +e.P.price  От 5 000 руб.
          +e.A.more(href="#")
            span ЕЩЕ УСЛУГИ
            svg(width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M5 12h14M12 5l7 7-7 7' stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
