+b.sales
  +e.inner.inner
    +e.A.item(href="#")
      +e.IMG.pic(src='/img/pers-1.png' alt='')
      +e.content
        +e.P.title.display-2 20% на терапию и гигиену полости рта и хирургию при условии наличия отзыва в Яндекс.карты, и других агрегаторов
        +e.txt Специалист в области съемного и несъемного протезирования, а также протезирования на имплантатах. Более 25 лет клинического стажа. Член American Dental Academy (Чикаго)  Специалист в области съемного и несъемного протезирования, а также протезирования на имплантатах. Более 25 лет клинического стажа. Член American Dental Academy (Чикаго) 
    +e.A.item(href="#")
      +e.IMG.pic(src='/img/pers-1.png' alt='')
      +e.content
        +e.P.title.display-2 20% на терапию и гигиену полости рта и хирургию при условии наличия отзыва в Яндекс.карты, и других агрегаторов
        +e.txt Специалист в области съемного и несъемного протезирования, а также протезирования на имплантатах. Более 25 лет клинического стажа. Член American Dental Academy (Чикаго)  Специалист в области съемного и несъемного протезирования, а также протезирования на имплантатах. Более 25 лет клинического стажа. Член American Dental Academy (Чикаго) 