include ../static/pug/head
+head('Наши специалисты ')
body
  +header()
  +b.heading
    +e.inner.inner
      +b.breadcrumb
        +e.home
        +e.list
          +e.A.link(href="/") Главная 
          +e.P.link Контакты
      +e.H1.title Наши контакты
  include ../modules/contacts/page
  include ../modules/footer/footer

  script(src="/js/common.js")