include ../static/pug/head
+head('Главная')
body
  +header()
  include ../modules/banner/banner
  include ../modules/service/service
  include ../modules/price/price
  include ../modules/vantage/vantage
  include ../modules/doctors/doctors
  include ../modules/about/about
  include ../modules/work/work
  include ../modules/license/license
  include ../modules/review/review
  include ../modules/contacts/contacts
  include ../modules/footer/footer

  script(src="/js/common.js") 