include ../static/pug/head
+head('Комплексная профессиональная гигиена полости рта')
body
  +header()
  +b.heading_service
    +e.inner.inner
      +e.row
        +e.content
          +b.breadcrumb
            +e.home
            +e.list
              +e.A.link(href="/") Главная 
              +e.A.link(href="/") Гигиена
              +e.P.link Комплексная профессональная гигиена
          +e.P.title.display-1 Комплексная профессиональная гигиена полости рта
          +e.P.sign Материал, который используется при гигиене
            br
            | полости рта AIR FLOW
          +e.UL.list
            +e.LI.item Заботимся о ваших зубах 
              b более 18 лет
            +e.LI.item Лечение под седацией 
              b без боли и переживаний
            +e.LI.item
              b 100% гарантия 
              | на материалы и работы
          +e.control
            +e.A.btn.btn_size-22.js-open-modal(href='#call') ЗАПИСАТЬСЯ
            +e.A.whts(href="") Получить консультацию
        +e.picture
          +e.IMG.pic(src='/img/service-page.png' alt='')
  include ../modules/price/price
  +b.service-info
    +e.inner.inner
      +e.H2.title.title Подробнее об услуге 
      +e.line
        +e.content
          p Гигиена и профилактика - включает в себя ряд действий, направленных на поддержание здоровья полости рта и предотвращение различных стоматологических заболеваний. Это достигается через   ряд различных процедур:
          ol
            li Удаление зубных отложений и налета с помощью различных методов, включая ультразвуковую технологию и систему "AIR-FLOW".
            li Проведение глубокого фторирования для укрепления эмали и предотвращения кариеса.
            li Проведение профессиональной гигиены полости рта, включая полировку зубов для придания им блеска и гладкости.
            li Проведение профессионального отбеливания зубов с использованием технологии "ZOOM" 4 для улучшения внешнего вида улыбки.
            li Проведение реминерализующей терапии для укрепления зубов и восстановления минерального баланса.
            li Проведение процедур чистки в области зубных имплантатов, обеспечивая их долговечность и здоровье окружающих тканей.
            li Обучение пациентов правильной гигиене полости рта, включая правильное использование зубных щеток.
          +e.A.btn.btn_size-22.js-open-modal(href='#call') ЗАПИСАТЬСЯ
        +e.IMG.pic(src='/img/service-page-1.png' alt='')
      +e.line
        +e.content
          p
            b В каких случаях необходимо обратиться к нам:
          ul
            li Наличие зубного налета и камня, которые нельзя полностью удалить при домашней чистке.
            li Потемнение или пигментация зубов, требующая отбеливания.
            li Чувствительность зубов или начальные признаки кариеса, что может указывать на необходимость фторирования или реминерализующей терапии.
            li Признаки воспаления или заболеваний десен, требующие профессиональной чистки и обучения правильной гигиене полости рта.
            li Наличие зубных имплантатов, которые требуют особой чистки для поддержания их в хорошем состоянии.Необходимость улучшить эстетический вид улыбки, например, для предстоящего важного события.
            li Кроме того, рекомендуется регулярное обследование и профилактический уходе для поддержания общего здоровья полости рта.
          +e.A.btn.btn_size-22.js-open-modal(href='#call') ЗАПИСАТЬСЯ
        +e.IMG.pic(src='/img/service-page-2.png' alt='')

  include ../modules/doctors/doctors
  include ../modules/review/review
  include ../modules/footer/footer

  script(src="/js/common.js") 