+b.license.section
  +e.inner.inner
    +e.row
      +e.col
        +e.H2.title.title Наши лицензии
        +e.A.link(href='#') Лицензия на осуществление медицинской деятельности 
          svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none')
            path(d='M5 12h14M12 5l7 7-7 7' stroke='#22A5E6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
        +e.A.link(href='#') Санитарно-эпидемиологическое  заключение
          svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none')
            path(d='M5 12h14M12 5l7 7-7 7' stroke='#22A5E6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
        +e.grid
          +e.item Опытные специалисты - врачи высшей категории
          +e.item Только современное оборудование
          +e.item Строжайший контроль стерильности
          +e.item Качественные материалы
      +e.col_flex
        +e.IMG.pic(src='/img/lis-1.png' alt='')
        +e.IMG.pic_last(src='/img/lis-2.png' alt='')