+b.doctors.section
  +e.inner.inner
    +e.head
      +e.H2.title.title Наши прекрасные доктора
      +e.A.more(href="#") ОТКРЫТЬ ПОЛНЫЙ СПИСОК
        svg(width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M5 12h14M12 5l7 7-7 7' stroke='#FF9C81' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
    +e.slider.owl-carousel
      +e.slide
        +e.IMG.pic(src='/img/pers-1.png' alt='')
        +e.P.name Авдалян Зара Самвеловна
        +e.pos Врач-стоматолог терапевт, 
          br
          | эндодонтист, ортопед, хирург
        +e.work
          b Стаж работы: 
          | 5 лет
        +e.price
          b Прием:
          span от 3 000 руб.
        +e.A.btn.btn.js-open-modal(href="#call") ЗАПИСАТЬСЯ
      +e.slide
        +e.IMG.pic(src='/img/pers-2.png' alt='')
        +e.P.name Адамян Марина Робертовна
        +e.pos Здесь может быть специализация
        +e.work
          b Стаж работы: 
          | 5 лет
        +e.price
          b Прием:
          span от 3 000 руб.
        +e.A.btn.btn.js-open-modal(href="#call") ЗАПИСАТЬСЯ
      +e.slide
        +e.IMG.pic(src='/img/pers-3.png' alt='')
        +e.P.name Албакова Лейла Ахметовна
        +e.pos Здесь может быть специализация
        +e.work
          b Стаж работы: 
          | 5 лет
        +e.price
          b Прием:
          span от 3 000 руб.
        +e.A.btn.btn.js-open-modal(href="#call") ЗАПИСАТЬСЯ
      +e.slide
        +e.IMG.pic(src='/img/pers-4.png' alt='')
        +e.P.name Бойко Алина Сергеевна
        +e.pos Здесь может быть специализация
        +e.work
          b Стаж работы: 
          | 5 лет
        +e.price
          b Прием:
          span от 3 000 руб.
        +e.A.btn.btn.js-open-modal(href="#call") ЗАПИСАТЬСЯ
      +e.slide
        +e.IMG.pic(src='/img/pers-4.png' alt='')
        +e.P.name Бойко Алина Сергеевна
        +e.pos Здесь может быть специализация
        +e.work
          b Стаж работы: 
          | 5 лет
        +e.price
          b Прием:
          span от 3 000 руб.
        +e.A.btn.btn.js-open-modal(href="#call") ЗАПИСАТЬСЯ