+b.doctors-single
  +e.inner.inner
    +e.line
      +e.H2.title.title Образование
      +e.info
        +e.IMG.pic(src='/icon/icon-sertif.svg' alt='')
        +e.text
          ul
            li Ереванский Государственный Медицинский Университет.
            li Курсы повышения квалификации МГМСУ
    +e.line
      +e.H2.title.title Ключевые навыки и достижения
      +e.info
        +e.IMG.pic(src='/icon/icon-skill.svg' alt='')
        +e.text
          ul
            li Специалист в области съемного и несъемного протезирования, а также протезирования на имплантатах. Более 25 лет клинического стажа. Член American Dental Academy (Чикаго)
            li Специалист в области хирургической стоматологии и имплантологии
    +e.line
      +e.H2.title.title Курсы повышения квалификации
      +e.list
        +e.item
          +e.yaer 2007
          +e.txt
            ul
              li Российский эндодонтический конгресс
              li Cеминары «Американ ДенталАкадеми» (Санкт-Петербург)
        +e.item
          +e.yaer 2008
          +e.txt
            ul
              li New York University College of Dentistry "Advances and Innovations in Periodontics" Dr. Edgard Chaar
              li New York University College of Dentistry «New Dimensions in Aesthic Periodontics» Dr. J. Lemler
        +e.item
          +e.yaer 2009
          +e.txt
            ul
              li Семинар «Американ Дентал Академии» «Техника непрямого восстановления зубов современными материалами и конструкциями»
              li Конференция Nobel Biocare «Одномоментная имплантация. Немедленная нагрузка»
              li Российский эндодонтический конгресс
              li Курс «Одномоментная имплантация. Немедленная нагрузка»
      +e.BUTTON.btn ПОКАЗАТЬ ЕЩЕ

+b.sertif
  +e.inner.inner
    +e.H2.title.title Дипломы и сертификаты
    +e.slider.owl-carousel
      +e.slide
        +e.IMG.pic(src='/img/lis-1.png' alt='')
      +e.slide
        +e.IMG.pic(src='/img/lis-1.png' alt='')
      +e.slide
        +e.IMG.pic(src='/img/lis-1.png' alt='')
      +e.slide
        +e.IMG.pic(src='/img/lis-1.png' alt='')
      +e.slide
        +e.IMG.pic(src='/img/lis-1.png' alt='')
      +e.slide
        +e.IMG.pic(src='/img/lis-1.png' alt='')

+b.review-single.section
  +e.inner.inner
    +e.H2.title.title Отзывы о враче
    +e.slider.owl-carousel
      +e.slide
        +e.IMG.pic(src='/img/about-1.png' alt='')
        +e.content
          +e.text Прекрасное место, врачи отличные профи, но еще важнее, что все хотят помочь, сочувствуют. Был уже у нескольких врачей: и пломбы ставил, и коронку, и удалял пломбы (в том числе амальгама, ртуть), и зуб мудрости удалял. Все было на высшем уровне! Честно был в позитивном шоке, как Марина Робертовна легко, быстро и практически не больно делала сложнейшие вещи. Роберт Ваганович очень быстро, и совершенно не больно удалил две ртутные пломбы. Все было с огромным позитивом и высочайшей точностью в работе. И все другие врачи были очень внимателны и профессиональны. От всей души вам всем огромное
          +e.info
            b Кристина С.
            p 8 ноября 2019
            p Отзыв на 
              a(href="#") Яндекс.Карты
      +e.slide
        +e.IMG.pic(src='/img/about-1.png' alt='')
        +e.content
          +e.text Прекрасное место, врачи отличные профи, но еще важнее, что все хотят помочь, сочувствуют. Был уже у нескольких врачей: и пломбы ставил, и коронку, и удалял пломбы (в том числе амальгама, ртуть), и зуб мудрости удалял. Все было на высшем уровне! Честно был в позитивном шоке, как Марина Робертовна легко, быстро и практически не больно делала сложнейшие вещи. Роберт Ваганович очень быстро, и совершенно не больно удалил две ртутные пломбы. Все было с огромным позитивом и высочайшей точностью в работе. И все другие врачи были очень внимателны и профессиональны. От всей души вам всем огромное
          +e.info
            b Кристина С.
            p 8 ноября 2019
            p Отзыв на 
              a(href="#") Яндекс.Карты