+b.about.section
  +e.inner.inner
    +e.row
      +e.col
        +e.H2.title.title О нашей клинике
        +e.bloquote
          +e.text
            p "Здоровье рта - залог общего благополучия! Я, врач стоматологии, верю в важность поддержания здоровых зубов и десен. Цитата, которая всегда проводит меня через мою профессиональную деятельность, Улыбка - самое красивое украшение лица. Каждый день я встречаю пациентов, которые страдают от зубной боли, кариеса или проблем с деснами. Мое первое желание - устранить их страдания и помочь им достичь здоровья, комфорта и уверенности в своей улыбке. 
            p Моя цель - предоставить высококачественную стоматологическую помощь и создать доверительные отношения с каждым пациентом”
          +e.info
            +e.IMG.pic(src='/img/about-1.png' alt='')
            +e.info-out
              +e.name Адамян Марина Робертовна
              +e.pos Главный врач клиники
      +e.col
        +e.tabs
          each item,index in ["Как записаться на прием?","Нужно ли как-то готовиться к приему?","Со скольки лет вы принимаете?","Как правильно выбрать специалиста?","Какие документы нужны?",]
            if index == 0
              +e.tab
                +e.head.active
                  span=item
                  svg(width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='m6 9 6 6 6-6' stroke='#FF9C81' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                +e.body(style="display: block")
                  +e.P.text Для записи на прием в стоматологию Вам следует обратиться к регистратуре данной клиники. Вы можете позвонить или лично прийти в регистратуру и сообщить свое желание записаться на прием к дантисту.
            else
              +e.tab
                +e.head
                  span=item
                  svg(width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='m6 9 6 6 6-6' stroke='#FF9C81' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                +e.body
                  +e.P.text Для записи на прием в стоматологию Вам следует обратиться к регистратуре данной клиники. Вы можете позвонить или лично прийти в регистратуру и сообщить свое желание записаться на прием к дантисту.