+b.vantage.section
  +e.inner.inner
    +e.H2.title.title Почему выбирают нас?
    +e.row
      +e.box
        +e.IMG.icon(src='/icon/icon-vnt-1.svg' alt='')
        +e.P.txt
          b Гарантия 
          | на работы и материалы 
          b до 5 лет
      +e.box
        +e.IMG.icon(src='/icon/icon-vnt-2.svg' alt='')
        +e.P.txt Без скрытых платежей. 
          b Цена не изменится!
      +e.box
        +e.IMG.icon(src='/icon/icon-vnt-3.svg' alt='')
        +e.P.txt
          b Современные аппараты 
          | для диагностикии
          br
          | лечения
      +e.box
        +e.IMG.icon(src='/icon/icon-vnt-4.svg' alt='')
        +e.P.txt
          b Безопасные 
            br
            | методики 
          | лечения