+b.banner.owl-carousel
  +e.slide
    +e.inner.inner
      +e.content
        +e.P.title.display-1 Стоматологическая клиника 
          span Мирана Дент
        +e.P.sign Стоматологические услуги для всей семьи
        +e.UL.list
          +e.LI.item Заботимся о ваших зубах 
            b более 18 лет
          +e.LI.item Лечение под седацией 
            b без боли и переживаний
          +e.LI.item
            b 100% гарантия 
            | на материалы и работы
        +e.control
          +e.A.btn.btn_size-22.js-open-modal(href='#call') ЗАПИСАТЬСЯ
          +e.A.whts(href="") Получить консультацию
      +e.picture
        +e.IMG.pic(src='/img/index-page.png' alt='')
  +e.slide
    +e.inner.inner
      +e.content
        +e.P.title.display-1 Стоматологическая клиника 
          span Мирана Дент
        +e.P.sign Стоматологические услуги для всей семьи
        +e.UL.list
          +e.LI.item Заботимся о ваших зубах 
            b более 18 лет
          +e.LI.item Лечение под седацией 
            b без боли и переживаний
          +e.LI.item
            b 100% гарантия 
            | на материалы и работы
        +e.control
          +e.A.btn.btn_size-22.js-open-modal(href='#call') ЗАПИСАТЬСЯ
          +e.A.whts(href="") Получить консультацию
      +e.picture
        +e.IMG.pic(src='/img/index-page.png' alt='')
  +e.slide
    +e.inner.inner
      +e.content
        +e.P.title.display-1 Стоматологическая клиника 
          span Мирана Дент
        +e.P.sign Стоматологические услуги для всей семьи
        +e.UL.list
          +e.LI.item Заботимся о ваших зубах 
            b более 18 лет
          +e.LI.item Лечение под седацией 
            b без боли и переживаний
          +e.LI.item
            b 100% гарантия 
            | на материалы и работы
        +e.control
          +e.A.btn.btn_size-22.js-open-modal(href='#call') ЗАПИСАТЬСЯ
          +e.A.whts(href="") Получить консультацию
      +e.picture
        +e.IMG.pic(src='/img/index-page.png' alt='')
