+b.FOOTER.footer
  +e.inner.inner
    +e.top
      +e.UL.list
        +e.LI.item
          +e.A.link(href="#") Услуги
        +e.LI.item
          +e.A.link.active(href="#") Врачи
        +e.LI.item
          +e.A.link(href="#") Акции
        +e.LI.item
          +e.A.link(href="#") Отзывы
        +e.LI.item
          +e.A.link(href="#") О стоматологии
        +e.LI.item
          +e.A.link(href="#") Наши работы
        +e.LI.item
          +e.A.link(href="#") Контакты
      +e.A.btn.btn_orange.js-open-modal(href='#call') ЗАПИСАТЬСЯ ОНЛАЙН
    +e.bottom
      +e.line
        +e.A.sign(href='#') Политика конфиденциальности
        +e.P.sign ООО "Мирана Дент" Лицензия № ЛО-77-01-0112121, дата регистрации 14 апреля 2016 г. Срок действия: бессрочно.
      +e.line_between
        +e.P.sign Информация, размещенная на сайте носит исключительно информационный характер и не является публичной офертой (ст.437 ГК РФ).
        +e.P.sign_req 2023, Мирана Дент © 