+b.contacts.section
  +e.inner.inner
    +e.row
      +e.left
        +e.H2.title.title Контакты
        +e.box
          +e.call
            b Телефон для связи: 
            +e.call-box
              +e.A.phone(href="tel:+7 (926) 190-99-11") +7 (926) 190-99-11
              +e.A.whts(href="") Запись в Whatsapp
          +e.A.metro(href="#") 
            b м. Щукинская, 
            | Волоколамске шоссе, 45
          +e.P.time Работаем ежедневно с 9 до 21.00
          +e.soc
            +e.A.link(href='#')
              +e.IMG.icon(src='/icon/icon-vk.svg' alt='')
            +e.A.link(href='#')
              +e.IMG.icon(src='/icon/icon-inst.svg' alt='')
          +e.A.road(href="#") КАК ДОБРАТЬСЯ
            svg(width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M5 12h14M12 5l7 7-7 7' stroke='#FF9C81' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
      +e.right
        +e.map
          +e.IMG.d#map(src='/img/stub-map.png' alt='')