+b.contacts-single
  +e.inner.inner
    +e.row
      +e.left
        +e.phone
          +e.title Телефоны для связи:
          +e.info
            +e.outer-phone
              +e.A.phn(href="tel:8 (926) 190-99-11") 8 (926) 190-99-11
              +e.A.phn(href="tel:8 (926) 190-99-11") 8 (926) 190-99-11
            +e.A.whts(href="") Whatsapp
            +e.soc
              +e.A.link(href='#')
                +e.IMG.icon(src='/icon/icon-vk.svg' alt='')
              +e.A.link(href='#')
                +e.IMG.icon(src='/icon/icon-inst.svg' alt='')
        +e.map
          +e.title Мы находимся по адресу:
          +e.P.sign г. Москва, метро Щукинская, Волоколамское шоссе, 45
          +e.A.road(href="#") ОТКРЫТЬ В НАВИГАТОРЕ
            svg(width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M5 12h14M12 5l7 7-7 7' stroke='#FF9C81' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
        +e.time
          +e.title График работы:
          +e.P.sign Работаем ежедневно с 9 до 21.00
      +e.right
        +e.map-box
          +e.IMG.d#map(src='/img/stub-map.png' alt='')

+b.contacts-get.section
  +e.inner.inner
    +e.H2.title.title Как до нас добраться?
    +e.row
      +e.item
        +e.A.box(href="#")
          +e.pic
            +e.IMG.icon(src='/icon/icon-blue-metro.svg' alt='')
          +e.info
            +e.name От МЦД Щукинская
            +e.sign 11 минут пешком
            +e.view
              span Cмотреть видео
              svg(xmlns='http://www.w3.org/2000/svg' width='39' height='39' fill='none')
                path(d='M16.25 26.813V12.188L26 19.5M19.5 3.25a16.25 16.25 0 1 0 0 32.5 16.25 16.25 0 0 0 0-32.5Z' fill='#A8A8BF')
        +e.A.road(href="#") ОТКРЫТЬ НА КАРТЕ
          svg(width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M5 12h14M12 5l7 7-7 7' stroke='#FF9C81' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
      +e.item
        +e.A.box(href="#")
          +e.pic
            +e.IMG.icon(src='/icon/icon-blue-metro.svg' alt='')
          +e.info
            +e.name От метро Сокол
            +e.sign 12 минут на общ.транспорте
            +e.view
              span Cмотреть видео
              svg(xmlns='http://www.w3.org/2000/svg' width='39' height='39' fill='none')
                path(d='M16.25 26.813V12.188L26 19.5M19.5 3.25a16.25 16.25 0 1 0 0 32.5 16.25 16.25 0 0 0 0-32.5Z' fill='#A8A8BF')
        +e.A.road(href="#") ОТКРЫТЬ НА КАРТЕ
          svg(width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M5 12h14M12 5l7 7-7 7' stroke='#FF9C81' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
      +e.item
        +e.A.box(href="#")
          +e.pic
            +e.IMG.icon(src='/icon/icon-blue-metro.svg' alt='')
          +e.info
            +e.name От метро Тушинская
            +e.sign 16 минут на общ.транспорте
            +e.view
              span Cмотреть видео
              svg(xmlns='http://www.w3.org/2000/svg' width='39' height='39' fill='none')
                path(d='M16.25 26.813V12.188L26 19.5M19.5 3.25a16.25 16.25 0 1 0 0 32.5 16.25 16.25 0 0 0 0-32.5Z' fill='#A8A8BF')
        +e.A.road(href="#") ОТКРЫТЬ НА КАРТЕ
          svg(width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M5 12h14M12 5l7 7-7 7' stroke='#FF9C81' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
      +e.item
        +e.A.box(href="#")
          +e.pic
            +e.IMG.icon(src='/icon/icon-blue-metro.svg' alt='')
          +e.info
            +e.name От метро Войковская
            +e.sign 18 минут на общ.транспорте
            +e.view
              span Cмотреть видео
              svg(xmlns='http://www.w3.org/2000/svg' width='39' height='39' fill='none')
                path(d='M16.25 26.813V12.188L26 19.5M19.5 3.25a16.25 16.25 0 1 0 0 32.5 16.25 16.25 0 0 0 0-32.5Z' fill='#A8A8BF')
        +e.A.road(href="#") ОТКРЫТЬ НА КАРТЕ
          svg(width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M5 12h14M12 5l7 7-7 7' stroke='#FF9C81' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')